<!doctype html>
<html lang="en">

<body>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <title>Admin Login | E-Commerce</title>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/auth.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <div class="auth-content">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="mb-4">
                            <img class="brand" src="/img/DigMart.png" alt="bootstraper logo" style="width: 80px; height: 80px;">
                        </div>
                        <h6 class="mb-4 text-muted">Login to your account</h6>
                        <form action="/admin/login" method="post">
                            <div class="mb-3 text-start">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" name="email" class="form-control" placeholder="Enter Email"
                                    required>
                            </div>
                            <div class="mb-3 text-start">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="pass" class="form-control" placeholder="Password" required>
                            </div>

                            <button class="btn btn-primary shadow-2 mb-4">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>