<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-user-shield"></i> Verification</a>
            <ul class="collapse list-unstyled" id="authmenu">
                <li>
                    <a href=""><i class="fas fa-users"></i> Seller</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-shopping-cart "></i> Product</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="operator"><i class="fas fa-user-friends"></i>Operators</a>
        </li>
    </ul>
</nav>