<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <title>Login | DigMart</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="mb-4 text-muted">Seller Login</h1>
                    <div class="mb-3 text-start">
                        <label for="busMobile" class="form-label">Enter your registered Mobile No.</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">+91</span>
                            <input value="" id="busMobile" type="numeric" class="form-control"
                                name="busMobile" placeholder="Mobile No." maxlength='10' style="width: 80%;"
                                aria-describedby="basic-addon1">
                            <small id="busMobile_err" class="form-text text-muted" style="visibility: hidden;">
                                <span style="color: red;">Invalid Mobile No. entered!</span></small>
                            <small id="busMobile_err1" class="form-text text-muted" style="visibility: hidden;">
                                <span style="color: red;">Verification Pending! Contact Admin</span></small>
                        </div>
                    </div>
                    <button id="submit1" type="button" onclick="sendOTP()"
                        class="btn btn-primary btn1 width-50 ml-auto">Get OTP</button>
                    <p class="mb-0 text-muted">Don't have account yet? <a href="/seller/signup">Signup</a></p>
                </div>
            </div>
        </div>
        <!-- Mobile OTP Modal -->
        <div class="modal fade" id="mobileModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-start">
                        <form id="loginForm" action="/seller/otp-verification" method="post">
                            <div class="d-flex justify-content-center align-items-center ">
                                <div class="card py-5 px-3 mb-0">
                                    <h3 class="text-center mb-4">Mobile No. verification</h3>
                                    <span class="mobile-text">Enter the code we just send on your mobile
                                        phone<br><b id="D_mobile" style="color: rgb(11, 78, 179);"></b></span>
                                    <div class="d-flex flex-row mt-4">
                                        <input type="hidden" id="hidMobile" name="hidMobile">
                                        <input id="mobOtp1" name="mobOtp1" type="text" class="p-1 m-2 text-center"
                                            style="width: 25%;" maxlength="1">
                                        <input id="mobOtp2" name="mobOtp2" type="text" class="p-1 m-2 text-center"
                                            style="width: 25%;" maxlength="1">
                                        <input id="mobOtp3" name="mobOtp3" type="text" class="p-1 m-2 text-center"
                                            style="width: 25%;" maxlength="1">
                                        <input id="mobOtp4" name="mobOtp4" type="text" class="p-1 m-2 text-center"
                                            style="width: 25%;" maxlength="1">
                                    </div>

                                    <div class="text-center mt-3 mb-3">
                                        <button type="submit" class="btn btn-primary"
                                            style="width: 25%;">Submit</button>
                                    </div>

                                    <div class="text-center mt-2">
                                        <span class="d-block mobile-text">Didn't receive the
                                            code?</span>
                                        <span class="font-weight-bold cursor"
                                            style="color: rgb(11, 78, 179); text-decoration: underline;">Resend</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/seller/login.js"></script>

</html>