<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Verification | DigMart</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <form action="/seller/dashboard" method="POST" id="formA" class="needs-validation" novalidate
                        accept-charset="utf-8">
                        <h3 class="text-center mb-4">Mobile No. Verification</h3>
                        <span class="mobile-text">Enter the code we just send on your Mobile No.<br>
                            <b id="pMobile" style="color: rgb(11, 78, 179);">
                                +91 <%= pMobile %>
                            </b></span>
                        <div class="d-flex flex-row mt-4">
                            <input id="otp1" type="text" class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1" autofocus="" value="1" required>
                            <input id="otp2" type="text" class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1" value="1" required>
                            <input id="otp3" type="text" class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1" value="1" required>
                            <input id="otp4" type="text" class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1" value="1" required>
                            <input type="hidden" name="hiddenMob" value="<%= pMobile %>">
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary width-50">Submit</button>
                        </div>
                        <div class="text-center mt-2">
                            <span class="d-block mobile-text">Didn't receive the code?</span>
                            <span class="font-weight-bold cursor"
                                style="color: rgb(11, 78, 179); text-decoration: underline;">Resend</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/seller/verification.js"></script>
</body>

</html>