<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="/img/DigMart-Sidebar.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/seller/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="#productsmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fas fa-archive"></i> Products <i class="fas fa-caret-down float-end"></i></a>

            <ul class="collapse list-unstyled" id="productsmenu">
                <li>
                    <a href="/seller/products/add-product"><i class="fas fa-plus"></i> Add Product</a>
                </li>
                <li>
                    <a href="/seller/products/?status=Pending"><i class="fas fa-folder"></i> Pending</a>
                </li>
                <li>
                    <a href="/seller/products/?status=Verified"><i class="fas fa-folder"></i> Verified</a>
                </li>
                <li>
                    <a href="/seller/products/?status=Rejected"><i class="fas fa-folder"></i> Rejected</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ordersmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fas fa-truck"></i> Orders <i class="fas fa-caret-down float-end"></i></a>
            <ul class="collapse list-unstyled" id="ordersmenu">
                <li>
                    <a href="/seller/orders/new-orders"><i class="fas fa-folder"></i> New Orders</a>
                </li>
                <li>
                    <a href="/seller/orders/shipment-orders"><i class="fas fa-folder"></i> Shipments</a>
                </li>
                <li>
                    <a href="/seller/orders/delivered-orders"><i class="fas fa-folder"></i> Delivered Orders</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>