<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/seller/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="/seller/products"><i class="fas fa-warehouse"></i> Products</a>
        </li>
        <li>
            <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i
                    class="fas fa-truck"></i> Orders</a>
            <ul class="collapse list-unstyled" id="authmenu">
                <li>
                    <a href="/seller/orders/new-orders"><i class="fas fa-folder"></i> New Orders</a>
                </li>
                <li>
                    <a href="/seller/orders/shipment-orders"><i class="fas fa-folder"></i> Shipments</a>
                </li>
                <li>
                    <a href="/seller/orders/delivered-orders"><i class="fas fa-folder"></i> Delivered Orders</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="settings.html"><i class="fas fa-cog"></i>Settings</a>
        </li>
    </ul>
</nav>