<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Account</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body class="bg-light">
    <%- include('navbar') %>
        <div class="container pt-4">
            <div class="col-12 col-md-3">
                <div class="card mb-3 p-2 bg-white border rounded"
                    style="margin-left: 2%; box-shadow: 0 1px 2px 0 rgba(119, 119, 119, 0.2), 0 3px 20px 0 rgba(218, 218, 218, 0.19);">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img src="/img/DigMart.png" style="width:100%">
                        </div>
                        <div class="col-12 col-md-9 mt-2">
                            <label style="text-align: center;">
                                <b> Hawaiza Siddiqui </b>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card mb-3 p-2 bg-white border rounded"
                    style="margin-left: 2%; box-shadow: 0 1px 2px 0 rgba(119, 119, 119, 0.2), 0 3px 20px 0 rgba(218, 218, 218, 0.19);">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img src="/img/DigMart.png" style="width:100%">
                        </div>
                        <div class="col-12 col-md-9 mt-2">
                            <label style="text-align: center;">
                                <b> Hawaiza Siddiqui </b>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/form-validator.js"></script>
        <script src="/js/user/swiper-bundle.min.js"></script>
</body>

</html>