<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Authentication | DigMart</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
    <link href="/css/seller/authentication.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <button data-bs-target="#loginpopup" data-bs-toggle="modal" class="btn btn-info"><i class="fas fa-times">Log
                In</button>



        <!-- Main Modal -->
        <form action="" method="POST" class="needs-validation" novalidate accept-charset="utf-8">
            <div class="modal fade" id="loginpopup" data-bs-backdrop="login" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 400px;">
                    <div class="modal-content">
                        <div class="modal-header p-2">
                            <img src="/img/favicon.png" class="ms-1" width=40px height="40px" />
                            <h2 class="modal-title" style="font-family: sans serif; margin-left: 15px;"
                                id="staticBackdropLabel"> Login
                            </h2>
                            <button type="button" class="btn-close me-1" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><b>+91</b></span>
                                <input value="" id="mobile" type="numeric" class="form-control" name="mobile"
                                    placeholder="Mobile No." maxlength='10' pattern="^[0-9]{10}$" style="width: 80%;"
                                    required aria-describedby="basic-addon1">
                                <div class="invalid-feedback">Please enter a valid Mobile No.!</div>
                            </div>
                            <button type="button" data-bs-target="#mobileotp" onclick=" $('#loginpopup').modal('hide');" data-bs-toggle="modal" style="background-color: #2a9fa8fa;" class=" col-md-12 btn">Send One
                                Time Password</button>

                        </div>

                    </div>
                </div>
            </div>
        </form>

        <!-- Mobile OTP Modal -->
        <div class="modal fade" id="mobileotp" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-start">
                        <form action="/seller/login" method="post">
                            <div class="d-flex justify-content-center align-items-center ">
                                <div class="card py-5 px-3 mb-0">
                                    <h3 class="text-center mb-4">Verification</h3>
                                    <span class="mobile-text">Enter the code we just send on your Mobile No.<br>
                                        <b id="busMobile" style="color: rgb(11, 78, 179);">

                                        </b></span>
                                    <div class="d-flex flex-row mt-4">
                                        <input id="mobOtp1" name="mobOtp1" type="text"
                                            class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1"
                                            autofocus="" required>
                                        <input id="mobOtp2" name="mobOtp2" type="text"
                                            class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1"
                                            required>
                                        <input id="mobOtp3" name="mobOtp3" type="text"
                                            class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1"
                                            required>
                                        <input id="mobOtp4" name="mobOtp4" type="text"
                                            class="text-center form-control m-2" pattern="[0-9]{1}" maxlength="1"
                                            required>
                                    </div>
                                    <input type="hidden" name="hidMobile" id="hidMobile" value="">
                                    <div class="text-center mt-3 mb-3">
                                        <button id="submit1" type="submit" class="btn btn-primary" disabled="true"
                                            style="width: 35%;">Submit</button>
                                    </div>
                                    <div class="text-center mt-2">
                                        <span class="d-block mobile-text">Didn't receive the code?</span>
                                        <span id="mobResend" onclick="sendOTP()" class="timer-inactive">Resend</span>
                                        <span id="mobTimer"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/user/login.js"></script>
<script src="/js/form-validator.js"></script>

</html>