<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Add Category</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">ADD NEW CATEGORY</div>
                                        <div class="card-body">
                                            <form action="/admin/category/add-category" method="post" enctype="multipart/form-data">
                                                <div class="mb-3">
                                                    <label for="catImage" class="form-label">Category Image</label>
                                                    <input type="file" name="catImage" class="form-control" id="catImage" accept="image/*" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="catName" class="form-label">Category Name</label>
                                                    <input name="catName" placeholder="Enter Category" id="catName" class="form-control" required>
                                                </div>

                                                <div class="mb-3 col-md-4">
                                                    <label for="variant" class="form-label">Variant</label>
                                                    <select name="variant" class="form-select" required>
                                                        <option value="Available" selected> Available</option>
                                                        <option value="Unavailable">Unavailable</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="submit" class="btn btn-primary" id="submitData"><i
                                                            class="fas fa-save"></i> Save Category</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(document).on('click', '#submitData', function(e) {
                var catName = document.getElementById("catName").value;
                '<% if(catData.length!=0){ var i=1; catData.forEach(function(data){ %>'
                if (catName == '<%= data.catName %>') {
                    e.preventDefault();
                    swal({
                        title: "Category with the same name already exists!",
                        text: "Try editting the same category or adding a new one.",
                        icon: "warning",
                        dangerMode: true,
                    })
                }
                '<% i++; }) } %>'
            });
        })
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>