.timer-active {  
    font-weight: bold;
    color: #0b4eb3;
    text-decoration-color: #0b4eb3;
    text-decoration: underline;
    cursor: pointer;
}
.timer-inactive {  
    text-decoration-color: dimgrey;
    color: dimgrey;
    pointer-events: none;
    text-decoration: line-through;
}

#mobTimer, #emailTimer {
    color: dimgrey;
    margin-left: 5px;
    position: absolute;
}
