#busLogo {
    width: 15%;
    height: 15%;
    min-width: 120px;
}

.busLogo {
    position: absolute;
    width: 100%;
    padding-right: 30px;
    transform: translateY(-65%);
}

input[type="text"]:disabled{background-color:transparent;}