#bankAccNo2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    #bankAccNo2 {
        transition: none
    }
}

#bankAccNo2:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#backbtn{
    width:45px;
    height:45px;
    line-height:30px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #0d6efd;
    box-shadow: 0 0 3px gray;
    font-size:30px;
    font-weight:bold;
    float: left; 
}

/* Scroll to Top */
#scrollUp{
    position: fixed;
    right: 2%;
    bottom: 3%;
    height: 2.813rem;
    width: 2.5rem;
    border-radius: 10rem;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: #0d6efd;
    box-shadow: 0 0 3px gray;
}
#scrollUp span{
    line-height: 3.2rem;
}
#scrollUp.scrollActive{
    display: block;
}